<!DOCTYPE>
<html>
<head>
  <title>A Cup of Coffee Today</title>
</head>
<body>

  <h1>A Cup of Coffee Today</h1>

  <div id="error-message"></div>

  <script src="static/lib/jquery-3.2.1.min.js"></script>
  <script>
    $(document).ready(function() {

      // if Geolocation is supported, return latitude and longitude of user's location
      function getLocation() {
	if(navigator.geolocation) {
	  navigator.geolocation.getCurrentPosition(showCoffeePlaces);
	} else {
	  $('#error-message').text("Geolocation is not supported"); // TODO: change this to enabling user to put in their location by hand (maybe zipcode?)	
	}
      }

      function showCoffeePlaces(position) {
	var latitude = position.coords.latitude;
	var longitude = position.coords.longitude;
	$.ajax({
	  url: "/search",
	  type: "GET",
	  data: { "latitude": latitude, "longitude": longitude },
	  success: function(result) {
	    // jsonify returns string
	    r = JSON.parse(result); // JSON.parse returns Object

	    // if it's a coffee place, add to html
	    for(var i = 0; i < r.businesses.length; i++) {
	      for(var j = 0; j < r.businesses[i].categories.length; j++) {
		if(r.businesses[i].categories[j].alias === "coffee") {
		  addCoffeePlace(i);  
		}
	      }
	    }

	  }
	});
      }

      function addCoffeePlace(index) {
	var divCoffeePlace = $("<div class='coffee-place'></div>");
	var h2Name = $("<h2 class='name'></h2>").text(r.businesses[index].name);
	var pRating = $("<p class='rating'></p>").text(r.businesses[index].rating);
	var img = $("<img>").prop("src", r.businesses[index].image_url);
	var divLocation = $("<div class='location'></div>");
	for(var i = 0; i < r.businesses[index].location.display_address.length; i++) {
	  var address = $("<p></p>").text(r.businesses[index].location.display_address[i]);
	  divLocation.append(address);
	}
	var phone = $("<p class='phone'></p>").text(r.businesses[index].display_phone);
	var linkToYelp = $("<a>More Info</a>").prop("href", r.businesses[index].url);

	divCoffeePlace.append(h2Name, pRating, img, divLocation, phone, linkToYelp);
	$('body').append(divCoffeePlace);
      }

      getLocation();

    });
  </script>
</body>
</html>
