<!DOCTYPE html>
<html>
<head>
  <title>A Cup of Coffee Today</title>
  <script src="static/lib/jquery-3.2.1.min.js"></script>
  <link type="text/css" rel="stylesheet" href="static/lib/Pacifico.css">
  <link type="text/css" rel="stylesheet" href="static/lib/Alegreya.css">
  <link type="text/css" rel="stylesheet" href="static/style.css">
</head>
<body>

  <div id="cover-page">
    <img src="/static/coffee_cup_white.png">
    <h1>A Cup of Coffee Today</h1>
    <div id="cover-message">Find out nearby coffee spots!</div>
    <div id="error-message"></div>
  </div>

  <div id="next-suggestion">
    <img src="static/next.png">
  </div>

  <script>
    // TODO: move to separate js file
    var currentIndex = 0;
    var businesses = [];

    // if Geolocation is supported, return latitude and longitude of user's location
    function getLocation() {
      // TODO: show error message if the country user's in isn't supported by Yelp
      if(navigator.geolocation) {
	navigator.geolocation.getCurrentPosition(showCoffeePlaces, noLocation, {timeout: 30000, enableHighAccuracy: true, maximumAge: 75000});
      } else {
	noLocation();	
      }
    }

    function noLocation() {
      var locationFormDiv = $("<div id='location-form'></div>");
      var locationFormImg = $("<img>").prop({ "src": "/static/decorative_line.png", "id": "location-form-img"});
      var locationFormMsg = $("<div id='location-form-msg'></div>");
      var Msg1 = $("<p id='msg1'>Geolocation is not supported :(</p>");
      var Msg2 = $("<p id='msg2'>Please enter <b>City Name</b> or <b>Zipcode</b></p>");
      locationFormMsg.append(Msg1, Msg2);
      var locationForm = $("<form></form>");
      var locationInput = $("<input type='text' name='location' id='input-location'></input>");
      // 'return false' used to prevent default form submit that overlaps with ajax call
      var locationSubmit = $("<button id='submit-location' onclick='manualSearch(); return false;'>Find</button>");
      locationForm.append(locationInput, locationSubmit);
      locationFormDiv.append(locationFormImg, locationFormMsg, locationForm);
      $('#cover-page').after(locationFormDiv);
    }

    function showCoffeePlaces(position) {
      var latitude = position.coords.latitude;
      var longitude = position.coords.longitude;
      /* temporary location for test in Korea since Yelp is not supported in Korea (doesn't have search results for Korean location)
      var latitude = 37.7568401;
      var longitude = -122.4457371;
      */
      $.ajax({
	url: "/search",
	type: "GET",
	data: { "latitude": latitude, "longitude": longitude },
	success: function(result) {
	  // TODO: handle success=False w/ error_message

	  // jsonify returns string
	  businesses = JSON.parse(result).businesses; // JSON.parse returns Object

	  // coffee places to html; to make faster, load first img first
	  addCoffeePlace(currentIndex);
	  initMap();
	  $('.coffee-place').hide().fadeIn();
	}
      });
    }

    function addCoffeePlace(index) {
      // create html elements
      var divCoffeePlace = $("<div class='coffee-place'></div>");

      var divImg = $("<div class='img'></div>");
      var divInfo = $("<div class='info'></div>");
      var h2Name = $("<h2 class='name'></h2>").text(businesses[index].name);
      var divRating = $("<div class='rating'></div>");
      var locationIcon = $("<img>").prop({ "src": "/static/map.png", "class": "location-icon" });
      var divLocation = $("<div class='location'></div>");
      // inside location div
      for(var i = 0; i < businesses[index].location.display_address.length; i++) {
	var address = $("<p></p>").text(businesses[index].location.display_address[i]);
	divLocation.append(address);
      }
      var phoneIcon = $("<img>").prop({ "src": "/static/phone.png", "class": "phone-icon" });
      var phone = $("<p class='phone'></p>").text(businesses[index].display_phone);
      var linkToYelp = $("<a>More Info</a>").prop("href", businesses[index].url);
      divInfo.append(h2Name, divRating, locationIcon, divLocation, phoneIcon, phone, linkToYelp);
      divImg.append(divInfo);

      divImg.css("background-image", "url(" + businesses[index].image_url + ")");

      var divMap = $("<div class='map'></div>");

      // put elements in coffee-place div
      divCoffeePlace.append(divImg, divMap);

      // put coffee-place div after cover-page div
      $('#cover-page').after(divCoffeePlace);

      // add coffee bean images
      addRating(businesses[index].rating);
    }

    // add coffee bean image as many as the rating
    function addRating(rating) {
      // add big coffee beans(1)
      var ratingFloor = Math.floor(rating);
      for(var i = 0; i < ratingFloor; i++) {
      // should declare var in for loop. Unless, same element will just move around the .rating, not newly created
	var coffeeBeanImg = $("<img>").prop({ "src": "/static/one_coffee_bean.png", "class": "big-coffee-bean" });
	$('.rating').first().append(coffeeBeanImg);
      }
      // QUESTION: diff btw .get(0)/[0] and .first()?

      // add small coffee beans(0.5)
      if(rating - ratingFloor) {
	var coffeeBeanImg = $("<img>").prop({ "src": "/static/one_coffee_bean.png", "class": "small-coffee-bean" });
	$('.rating').first().append(coffeeBeanImg);
      }
    }

    function initMap() {
      var coffeePlaceLocation = { lat: businesses[currentIndex].coordinates.latitude, lng: businesses[currentIndex].coordinates.longitude };
      // since new coffee-place div is added at the top(index 0)
      var map = new google.maps.Map($('.map')[0], {
	zoom: 18,
	center: coffeePlaceLocation
      });
      var marker = new google.maps.Marker({
	position: coffeePlaceLocation,
	map: map
      });
    }

    // when geolocation doesn't work, send zipcode/city typed by user to server
    // this whole thing doesn't work when in document.ready because submit-location button is added later
    function manualSearch() {
      var inputLocation = $("input[name='location']").val();

      $.ajax({
	url: "/search",
	type: "GET",
	data: { "location": inputLocation },
	success: function(result) {
	  // TODO: handle success=False w/ error_message
	  
	  // jsonify returns string
	  businesses = JSON.parse(result).businesses; // JSON.parse returns Object

	  // coffee places to html; to make faster, load first img first
	  addCoffeePlace(currentIndex);
	  initMap();
	  $('.coffee-place').hide().fadeIn();
	}
      });
    }

    $(document).ready(function() {

      // get user's location and show nearby coffee spots
      getLocation();
      
      // when next-suggestion clicked, load next coffee place
      $('#next-suggestion').on('click', function() {
        // TODO: handle case when 'next suggestion' is clicked before any coffee places are loaded
	// if businesses.length, THEN add a coffee place
	
	currentIndex++;
	// TODO: if currentIndex == businesses.length - 1, remove 'next suggestion'

	// TODO: handle currentIndex >= businesses.length
	addCoffeePlace(currentIndex);
	initMap();
	$('.coffee-place').hide().fadeIn();
      });

    });
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDolhQPilXAsHBIfoX24_sKRz0Q6MaUbU8">
  </script>
</body>
</html>
